<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Proyecto/css/autoComplete/easy-autocomplete.min.css">
        <link rel="stylesheet" href="/Proyecto/css/autoComplete/easy-autocomplete.themes.min.css">
        <script src="/Proyecto/js/autocomplete/jquery.easy-autocomplete.min.js"></script>
        <style>
            .form-control{
                height: 35px;

            }
        </style>
        <script>




            function actualizarSalon(index) {
                var objeto = listaSalones[index];
                var select = $("#select" + index).val();
                var envio = new Object();
                envio = objeto;
                envio.salonCodigo = select;
                param = JSON.stringify(envio);
                var pUrl = "" + location.protocol + "//" + location.host + "/Proyecto/v1/AsignacionService/actualizarSalonHorario/" + param;
                $.ajax({
                    type: "GET",
                    url: pUrl,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });

                console.log(select);
                console.log(objeto);
            }

        </script>
    </head>
    <body>
        <br/>
    <center>
        <table style="width: 50%;" class="table table-striped">
            <tr style="text-align: center">
                <td colspan="2"><h1>ASIGNACIÓN MANUAL</h1></td>
            </tr>
            <tr>
                <td>MATERIA:</td>
                <td><input id="materias" ng-model="materia" name="materias" style="width: 100%;"/></td>
            </tr>
            <tr>
                <td>FECHA</td>
                <td><input class="form-control" ng-model="fecha"  style="width: 80%;" id="fecha"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="/Proyecto/img/Search.png" ng-click="consultarAsignacionXMateria();"  class="imageBoton" style="float: right;width: 15%;cursor: pointer"/>
                </td>

            </tr>
        </table>
        <br/>

        <div id="resultados">

        </div>

    </center>  

    <br/>
    <br/>
    <br/>
    <br/>
    <script>
        $(function () {
            $('#fecha').datepicker({
                timeInput: false,
                timeFormat: "hh:mm tt"

            });
        });
    </script>
</body>
</html>
