<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pagina Principal</title>
        <meta charset="utf-8">
        <meta http-equiv="expires" content="0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Proyecto/css/estilos.css">
        <link rel="stylesheet" href="/Proyecto/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Proyecto/css/angular-material.min.css">
        <link rel="stylesheet" href="/Proyecto/css/mui/mui.min.css">
        <script src="/Proyecto/js/jquery.min.js"></script>
        <script src="/Proyecto/js/funciones.js"></script>
        <script src="/Proyecto/js/mui/mui.min.js"></script>
        <script src="/Proyecto/js/bootstrap.min.js"></script>
        <script src="/Proyecto/js/Angular/angular.min.js"></script>
        <script src="/Proyecto/js/Angular/angular-animate.min.js"></script>
        <script src="/Proyecto/js/Angular/angular-aria.min.js"></script>
        <script src="/Proyecto/js/Angular/angular-messages.min.js"></script>
        <script src="/Proyecto/js/Angular/angular-material.min.js"></script>
        <script>
            var app = angular.module('InicioApp', []);
            app.controller('ControladorApp', ['$scope', '$http', '$location', function ($scope, $http, $location) {
                    $scope.cambiarFrame = function (pagina) {
                        $("#frameContenido").attr('src', '/Proyecto/acciones/' + pagina + '.html');
                    };
                }]);
        </script>

    </head>
    <body ng-app="InicioApp">
        <div ng-controller="ControladorApp">


            <div id="sidedrawer" class="mui--no-user-select">
                <div id="sidedrawer-brand" class="mui--appbar-line-height">
                    <span class="mui--text-title">Proyecto POO</span>
                </div>
                <div class="mui-divider"></div>
                <ul>
                    <li>
                        <strong>Categoria</strong>
                        <ul>
                            <li><a ng-click="cambiarFrame('PrimerServicio')" href="#" >Usuarios</a></li>
                            <li><a ng-click="cambiarFrame('SegundoServicio')" href="#" >Segunda Pagina</a></li>
                            <li><a  ng-click="cambiarFrame('TercerServicio')" href="#" >Tercer Pagina</a></li>
                            <li><a  ng-click="cambiarFrame('CuartoServicio')" href="#" >Cuarta Pagina</a></li>
                            <li><a ng-click="cambiarFrame('QuintoServicio')" href="#" >Quinta Pagina</a></li>
                        </ul>
                    </li>
                    <!--li>
                        <strong></strong>
                        <ul>
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </li-->
                    <!--li>
                        <strong>Category 3</strong>
                        <ul>
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </li-->
                </ul>
            </div>
            <header id="header">
                <div class="mui-appbar mui--appbar-line-height">
                    <div class="mui-container-fluid">
                        <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                        <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
                        <span class="mui--text-title mui--visible-xs-inline-block mui--visible-sm-inline-block">Proyecto</span>
                    </div>
                </div>
            </header>
            <div id="content-wrapper">
                <div class="mui--appbar-height"></div>
                <iframe id="frameContenido" style="width: 100%;height: 630px;" src="/Proyecto/acciones/inicial.html"></iframe>
            </div>
            <footer id="footer">
                <div class="mui-container-fluid">
                    <br>

                </div>
            </footer>
        </div>
    </body>
</html>
